@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-family: 'Playwrite NO', cursive;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 200s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}